@import 'tailwindcss';

@theme {
  --primary-color: #4338ca;
  --gray-color: #e5e5e5;
  --primary-text-color: #ffffff;
  --secondary-text-color: #525252;
  --brand-color: #6366f1;
  --body-font-size: 16px;
  --body-text-color: #030712;
  --pale-white: #fafafa;
  --box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

body {
  font-family: var(--font-noto-sans);
  font-size: var(--body-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
